<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Feediscovery</title>
    <meta name="author" content="Julien Genestoux">
</head>
<body style="background-color:#333; color: white; font-family:helvetica; padding: 0px 10% 0px 10%; font-size:1.4em">
    <h1 style="color:#FF0080; font-size: 3.4em;">Fee<span style="color: #FF8000;">disco</span>very</h1>
    <p>
        Let the music play!
    </p>
    <h2>Query:</h2>
    <code>GET http://feediscovery.appspot.com/?url=http://blog.superfeedr.com</code></p>
    <small>You can as well add a <em>callback</em> parameter.</small>
    <h2>Response:</h2>
    <code>{"href":"http://blog.superfeedr.com/atom.xml","title":"Superfeedr' thoughts","rel":"alternate","type":"application/atom+xml"}</code></p>
    <span style="font-size:0.6em;position:absolute; bottom:0; margin:0px 0px 20px 0px; padding:0px;">
        Brought to you by <a href="http://superfeedr.com" style="color:#CCC" >Superfeedr</a>&nbsp;<img src="http://www.gravatar.com/avatar/a2f7d4dd6df7dd59e4adab811c00a3a1?s=24" style="vertical-align:middle;"> |
    <a href="http://blog.superfeedr.com/api/discovery/feediscovery/feeds/feediscovery/" style="color:#CCC">Learn more</a> | <a href="http://github.com/superfeedr/feediscovery"  style="color:#CCC;">Make it better!</a>
    </span>
</body>
</html>
