<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Feediscovery</title>
    <meta name="author" content="Julien Genestoux">
</head>
<body style="background-color:#333; color: white; font-family:helvetica; padding: 0px 10% 0px 10%; font-size:1.4em">
    <h1 style="color:#FF0080; font-size: 3.4em;">Feediscovery</h1>
    <p>
        Let the music play!
    </p>
    <h2>Query:</h2>
    <code>GET http://feediscovery.appspot.com/?url=http://blog.superfeedr.com</code></p>
    <h2>Response:</h2>
    <code>{"href":"http://blog.superfeedr.com/atom.xml","title":"Superfeedr' thoughts","rel":"alternate","type":"application/atom+xml"}</code></p>

</body>
</html>
